<div class='modal-dialog' id= 'startModal'>
  <div class='modal-bg'>
    <div class= 'modal-content'>
      <div class='row'>
        <%= image_tag 'difference3.png', size: '278x382' %>
        <btn class='btn btn-info' id='start'>START!</btn>
      </div>
    </div>
  </div>
</div>

<div class='modal-dialog hidden' id= 'resultModal'>
  <div class='modal-bg'>
    <div class= 'modal-content'>
      <div class='row p-3'>
        <div class='border rounded'>
          <p class='result-title text-center' id= 'resultModalTitle'></p>
          <p class='result-body text-center' id= 'resultModalBody'></p>
        </div>
        <div id='share-button' class='hidden text-center my-3'>
          <p>↓Twitterで結果をシェアしてみてね↓</p>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <%= link_to 'トップページへ戻る', root_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>
