<div class='modal-dialog' id= 'startModal'>
  <div class='modal-bg'>
    <div class= 'modal-content'>
      <div class='row'>
        <%= image_tag 'difference3.png' %>
        <btn class='btn btn-info' id='start'>START!</btn>
      </div>
    </div>
  </div>
</div>

<div class='modal-dialog' id= 'resultModal'  style="display: none;">
  <div class='modal-bg'>
    <div class= 'modal-content'>
      <div class='row p-3'>
        <p class='result-title text-center' id= 'resultModalTitle'></p>
        <p class='result-body text-center' id= 'resultModalBody'></p>
        <%= link_to 'トップページへ戻る', root_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
