html {
    height: 100%;
  }
  
body {
  height: 100%;
  background-image: url(on_the_sea.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fish{
    position:relative;
}